/*

Theme Name: Wise-Mountain Pro Child
Template: pro-wise-mountain
Theme URI: http://wise-mountain.progressionstudios.com/
Author: Progression Studios
Author URI: http://themeforest.net/user/ProgressionStudios
Description: ThemeForest Multi-Purpose Premium Theme
Version: 1.8
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: right-sidebar, custom-menu, editor-style, featured-images, full-width-template, theme-options, translation-ready
Text Domain: progression

*/

@import url("../pro-wise-mountain/style.css");


body .vc_separator h4{
    color: #7d416b;
    font-family: 'Lato';
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1.4px;
    line-height: 1.4;
    margin-top: 18px;
    text-transform: uppercase;
}
body .wine-thumb-container h6.wine-title-pro a{
    color: #7d416b;
}
form.wpcf7-form input.wpcf7-submit, a.more-link{
    background: #7d416b;
    color:#ecebec;
}
form.wpcf7-form input.wpcf7-submit:hover, a.more-link:hover{
    background:#343638;
    color:#ffffff;
}
a.more-link:hover{
    font-family: 'Lato';
    font-weight: normal;
}
.white-text{
    color:#ffffff;
}
body .black-text, body .col-bck-photo .black-text h5{
    color:#000000;
}
body .bold, body .col-bck-photo .bold h5{
    font-weight: bolder;
}
body.home header#masthead-pro.slider-rev-logo #sticky-pro{
    background: rgba(0,0,0,0.7);
}
.product-ru .wpb_content_element.equal-height >.wpb_wrapper, .wine-post-pro .wine-excerpt-pro{
    min-height: 55px;
    margin-bottom:0px;
}
.equal-title .wpb_wrapper h5{
    color: #7d416b;
    font-family: 'Lato';
    font-size: 17px;
    letter-spacing: 1.4px;
    line-height: 1.4;
    margin-top: 18px;
    margin-bottom: 45px;
}
.wine-post-pro h6.wine-title-pro{
    min-height: 74px;
}
.product-ru h5:after, .product-ru h3:after{
    content: "";
    display: block;
    position: relative;
    top: 25px;
    width: 60px;
    height: 5px;
    margin-bottom: -5px;
    background-color: #deded4;
    margin: 0 auto;
}
body.page-id-992 .wine-post-pro h6.wine-title-pro {
    min-height: 97px;
}
body.page-id-322 .product-ru .equal-title .wpb_wrapper{
    min-height:51px;
}
body.page-id-322 .product-ru .equal-height .wpb_wrapper{
    min-height:75px;
}

/**** Responsive ****/


@media (max-width: 1024px){

    body.page-id-857 .wine-post-pro h6.wine-title-pro a{
        letter-spacing: 0.9px;
    }
    body.page-id-689 .wine-post-pro .wine-excerpt-pro{
        min-height: 250px;
    }
    body.page-id-694 .wine-post-pro .wine-excerpt-pro {
        min-height: 256px;
    }
    body.page-id-694 .wine-post-pro h6.wine-title-pro{
        min-height: 120px;
    }
    body.home .vc_custom_1438618478124{
        padding-top:0!important;
    }
    body.home .vc_custom_1477035272406{
        margin-top:0px!important;
    }
    body.home .vc_custom_1477035272406 *  .vc_column-inner{
        padding-top:0!important;
    }
    body.home .product-ru .wpb_content_element.equal-height >.wpb_wrapper{
        min-height: 75px;
    }
    .wine-post-pro h6.wine-title-pro, .page-id-992 .wine-post-pro h6.wine-title-pro{
        min-height: 97px;
    }
    body.page-id-992 .wine-post-pro .wine-excerpt-pro{
        min-height: 225px;
    }
    body.page-id-992 .wine-post-pro h6.wine-title-pro a{
        letter-spacing: 0.7px;
    }
    body.page-id-322 .product-ru .equal-height .wpb_wrapper{
        min-height: 100px;
    }
}

@media (max-width: 768px){
    body.page-id-857 .wine-post-pro h6.wine-title-pro{
        min-height: 120px;
    }
    body.page-id-689 .wine-post-pro .wine-excerpt-pro {
        min-height: 277px;
    }
    body.page-id-694 .wine-post-pro h6.wine-title-pro{
        min-height:120px;
    }
    body.home .product-ru .wpb_content_element.equal-height >.wpb_wrapper{
        min-height: 100px;
    }
    body .wine-post-pro h6.wine-title-pro a{
        letter-spacing: 1.2px;
    }
    body.page-id-992 .wine-post-pro h6.wine-title-pro a{
        letter-spacing: 0.2px;
    }
    body.page-id-332 .wine-post-pro h6.wine-title-pro{
        min-height: 120px;
    }
    body.page-id-42 .product-ru .wpb_content_element.equal-height >.wpb_wrapper{
        min-height: 75px;
    }
    body.page-id-322 .equal-title .wpb_wrapper h5{
        letter-spacing: 1.3px;
    }
    body.page-id-322 .product-ru .equal-title .wpb_wrapper{
        min-height:74px;
    }
}

@media (max-width: 767px){

    body.page-id-16 #map{
        margin-top:0!important;
    }
    body.page-id-163 .pro-btn-container.left-pro, body.page-id-165 .pro-btn-container.left-pro{
        text-align: center;
    }
    #plants{
        margin-top:50px;
    }
    body .wine-post-pro h6.wine-title-pro a,body.page-id-992 .wine-post-pro h6.wine-title-pro a,
    body.page-id-322 .equal-title .wpb_wrapper h5, body.page-id-857 .wine-post-pro h6.wine-title-pro a{
        letter-spacing: 1.4px;
    }
    .product-ru .wpb_content_element.equal-height >.wpb_wrapper, .wine-post-pro .wine-excerpt-pro,
    .wine-post-pro h6.wine-title-pro, body.page-id-992 .wine-post-pro .wine-excerpt-pro,.wine-post-pro h6.wine-title-pro,
    .page-id-992 .wine-post-pro h6.wine-title-pro, body.page-id-332 .wine-post-pro h6.wine-title-pro,
    body.page-id-42 .product-ru .wpb_content_element.equal-height >.wpb_wrapper, body.page-id-322 .product-ru .equal-height .wpb_wrapper,
    body.page-id-322 .product-ru .equal-title .wpb_wrapper,body.home .product-ru .wpb_content_element.equal-height >.wpb_wrapper,
    body.page-id-689 .wine-post-pro .wine-excerpt-pro,body.page-id-694 .wine-post-pro .wine-excerpt-pro,
    body.page-id-694 .wine-post-pro h6.wine-title-pro,body.page-id-857 .wine-post-pro h6.wine-title-pro{
        min-height: inherit;
    }

}

