/* Color Alpha */
.progression-alpha-container .transparency {
    height:24px;
    width:100%;
    background-color:#FFF;
	background-image: url(transparency-grid.png);
    box-shadow:0 0 5px rgba(0,0,0,0.4) inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:0;
}
 
.progression-alpha-container .ui-slider-handle {
    color:#777;
    background-color:#FFF;
    text-shadow:0 1px 0 #FFF;
    text-decoration:none;
    position:absolute;
    z-index:2;
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
    border:1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity:0.9;
    margin-top:-2px;
    height:20px;
    cursor:ew-resize;
    font-size:12px;
    padding:3px;
}
 
.progression-alpha-container .ui-slider {
    position:relative;
    text-align:center;
    width:88%;
}
 
.wp-picker-container a.wp-picker-open ~ div.progression-alpha-container {
    display:block;
}
 
.progression-alpha-container {
    box-sizing:padding-box;
    display:none;
    border:1px solid #dfdfdf;
    border-top:none;
    background:#FFF;
    padding:0 11px 6px;
}
 
.customize-control-alphacolor .wp-picker-container .iris-picker {
    border-bottom:none;
}





/* Buttonset */
.customize-control-radio-buttonset {
	margin-bottom:20px;
}

body #customize-theme-controls .control-section .wp-picker-container {
	margin-bottom:10px;
}
.customize-control-radio-buttonset label {
  padding: 5px 10px;
  background: #f7f7f7;
  border-left: 1px solid #dedede;
  line-height: 35px; 
}
  .customize-control-radio-buttonset label.ui-state-active {
    background: #888888; 
	color:#ffffff;

}
  .customize-control-radio-buttonset label.ui-corner-left {
    border-radius: 3px 0 0 3px;
    border-left: 0; }
  .customize-control-radio-buttonset label.ui-corner-right {
    border-radius: 0 3px 3px 0; }


/* Slider Control */
	.progression-slider-hidden {display:none;}
	.customize-control-slider {margin-bottom:20px;}
	input.progression-slider {
		width:25% !important;
		display:inline-block;
	}
	.customize-control-slider input[type="text"] {
	  border: none;
	  text-align: center;
	  padding: 0;
	  margin: 0;
	  font-size: 12px;
	  box-shadow: none;
	  color: #333; 
  }
	.customize-control-slider .ui-slider {
	  position: relative;
	  text-align: left;
	  height: 7px;
	  border-radius: 3px;
	  background: #f2f2f2;
	  border: 1px solid #dedede;
	  margin-top: 10px;
	  margin-bottom: 20px; 
	  width:70%;
	  float:right;
  }
	  .customize-control-slider .ui-slider .ui-slider-handle {
	    position: absolute;
	    z-index: 2;
	    width: 13px;
	    height: 13px;
	    top: -4px;
	    border-radius: 3px;
	    cursor: pointer;
	    -ms-touch-action: none;
	    touch-action: none;
	    background: #777777;
	    border: 1px solid #777777; }
	  .customize-control-slider .ui-slider .ui-slider-range {
	    position: absolute;
	    z-index: 1;
	    font-size: 0.7em;
	    display: block;
	    border: 0;
	    background-position: 0 0; }
